:host {
  .radio {
    width: 100%;
    max-height: 320px;
    display: flex;

    .players {
      min-width: 320px;
      max-width: 320px;
      margin-right: 20px;
      app-player-manager {
        height: 320px;
        width: 320px;
      }
    }

    .playqueue {
      height: 100%;
      overflow: scroll;
    }
  }
}
