<section class="ui">
  <div class="player">
    <app-socket-opener></app-socket-opener>
    <hr>
    <br>
    <app-radio
      #radio
      (loadingChange)="loadingChange($event)"
      [showPlayer]="showPlayer"></app-radio>
    <div>
      <label>
        Show Player
        <input type="checkbox" [(ngModel)]="showPlayer">
      </label>
    </div>
    <hr>
    <app-socket-mock-controls
      [playQueue]="playQueue"
      [isLoading]="isLoading">
    </app-socket-mock-controls>
  </div>
  <app-message-logger></app-message-logger>
</section>
